/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* style start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3{
    margin: 0;
}

h1{
    font-size: 50px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.flexible-width{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 5% 5% 0% 5%;
}

.btn-link{
    color: white;
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    font-weight: 400;
    padding: 15px 25px;
    border-radius: 50px;
}

.hero-sec{
    height: 100vh;
}

.hero-header{
    margin-top: 100px;
}

.hero-header h1{
    color: #575757;
}

.hero-header p{
    color: #828282;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 1.5;
}

.hero-img{
    width: 85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gradient-color{
    color: #FF1E1E;
}

.about-sec{
    background-image: url(../img/7.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-header h1{
    color: #707070;
}

.about-header p{
    color: #18191f;
    padding: 50px 0 70px 0;
    font-size: 18px;
}

.recipies-sec{
    margin-bottom: 100px;
}

.recipies-header{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.recipies-header h1{
    color: #676767;
    padding-top: 50px;
    padding-bottom: 50px;
}

.recipies-header p{
    color: #252525;
    padding-bottom: 50px;
}

.recipies-item{
    display: flex;
}

.recipies-card{
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.3);
    border-radius: 15px;
}

.item-1 img,
.item-2 img,
.item-3 img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 25px;
}

.item-1{
    margin-left: 5%;
    margin-right: 2%;
}

.item-2{
    margin-left: 2%;
    margin-right: 2%;
}

.item-3{
    margin-left: 2%;
    margin-right: 5%;
}

.recipies-card h2{
    color: #575757;
    padding-bottom: 20px;
}

.recipies-card p{
    color: #18191f;
}

.number-sec{
    margin: 100px 0;
}

.number-card{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.3);
}

.card-1{
    width: 100%;
    padding: 20px;
}

.card-2{
    width: 100%;
    padding: 20px;
}

.card-3{
    width: 100%;
    padding: 20px;
}

.card-1 h1,
.card-2 h1,
.card-3 h1{
    color: #18191f;
    font-size: 60px;
    padding-bottom: 10px;
}

.card-1 p,
.card-2 p,
.card-3 p{
    color: #18191f;
}

.contact-sec{
    background-image: url(../img/Frame58.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.contact-header{
    padding: 50px 0;
    text-align: center;
    color: #575757;
}

.address-box{
    width: 100%;
    margin-left: 5%;
    margin-right: 3%;
}

.address-item:nth-child(1){
    margin-top: 0;
}

.address-item{
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 5%;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
    transition: .3s ease all;
    border: 2px solid transparent;
}

.address-item:hover{
    border: 2px solid #FF1E1E;
}

.address-item h2{
    color: #252525;
    padding-bottom: 10px;
}

.address-item a{
    color: #FBA24F;
    font-weight: 600;
}

.input-box{
    width: 100%;
    margin-left: 3%;
    margin-right: 5%;
}

.form-input{
    width: 80%;
    margin: 0 auto;
    background: transparent;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    font-family: inherit;
    font-weight: 500;
    color: #252525;
    font-size: 16px;
    transition: .3s ease all;
    border: 2px solid transparent;
}

.form-input:focus{
    background-color: #ffffff;
    border: 2px solid #FF1E1E;
}

.textarea-input{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    background: transparent;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
    border: none;
    outline: none;
    padding: 15px 20px;
    box-sizing: border-box;
    resize: none;
    border-radius: 15px;
    font-family: inherit;
    font-weight: 500;
    color: #252525;
    font-size: 16px;
    transition: .5s ease all;
    border: 2px solid transparent;
}

.textarea-input:focus{
    background-color: #ffffff;
    border: 2px solid #FF1E1E;
}

.input-box .form-button{
    border: none;
    width: 30%;
    margin-top: 20px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.footer-sec{
    padding: 100px 0;
    background-color: #18191f;
}

.footer-item{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.footer-item h2{
    padding-bottom: 30px;
    font-size: 28px;
}

.black-color{
    color: #757575;
}

.footer-item p{
    color: #ffffff;
    padding-bottom: 30px;
}

.copyright-text p{
    color: #ffffff;
    text-align: center;
}

/* Thank You */

.thankyou{
    height: 100vh;
    padding: 250px 0;
    margin: 0 auto;
    text-align: center;
}

.thankyou h1{
    color: #757575;
    padding-bottom: 50px;
    transition: .5s ease all;
}

.thankyou h1:hover{
    color: #252525;
}

.thankyou a{
    color: #FF1E1E;
    font-weight: 600;
    transition: .5s ease all;
}

.thankyou a:hover{
    color: #FBA24F;
}